<div layout:decorate="~{layouts/defaultLayout}" >
	
	<div layout:fragment="content">
		
		<a class="button" th:href="@{/customers/{customerId}/  (customerId=${myUser.id})}"  th:text = "@{Back to Customer: {myUser} (myUser=${myUser.username}) }" >Back to Customer</a>

		
		<h1  th:text="${myTitle}" >Home!</h1>
        <p  th:text="${content}" >
            This is a simple homepage created with HTML and CSS. You can customize it to add more features and sections.
        </p>
		
		<a class="button" th:href="@{/customers/{customerId}/  (customerId=${myUser.id})}"  th:text = "@{Back to Customer: {myUser} (myUser=${myUser.username}) }" >Back to Customer</a>
		
	</div>
</div>
